.header {
  display: flex;
  justify-content: space-between;
  padding: 0 48px 0;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0 16px 0;
  }
}