.content {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30px repeat(12, 1fr) 30px;
  grid-column-gap: 18px;
  grid-template-areas:
    ". . lead lead lead lead lead lead lead lead lead lead . ."
    ". . intro intro intro intro intro intro intro . . . . . "
    ". photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid. "
    ". . places places places places places places places places places places . ."
    ". cover cover cover cover cover cover cover cover cover cover cover cover .";
}

@media screen and (max-width: 1024px) {
  .content {
    grid-template-areas:
      ". lead lead  lead lead lead lead lead lead lead lead lead lead ."
      ". intro intro intro intro intro intro intro intro intro . . . ."
      ". photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid ."
      ". places places places places places places places places places places places places. "
      "cover cover cover cover cover cover cover cover cover cover cover cover cover cover";
  }
}

@media screen and (max-width: 768px) {
  .content {
    display: block;
  }
}