.intro {
  grid-area: intro;
  box-sizing: border-box;
  padding: 92px 0;
}

@media screen and (max-width: 950px) {
  .intro {
    padding: 88px 24px 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 64px 24px 64px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 16px 64px;
  }
}