.root {
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #2a2c2f;
  box-sizing: border-box;
  padding: 28px 0 24px;
}

@media screen and (max-width: 768px) {
  .root {
    padding: 28px 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .root {
    padding: 16px 0 16px;
  }
}