.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 0;
}

@media screen and (max-width: 720px) {
  .footer {
    display: block;
    padding: 92px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: block;
    padding: 92px 16px 0;
  }
}