.place__url {
  align-self: flex-end;
}

@media screen and (max-width: 750px) {
  .place__url {
    align-self: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .place__url {
    padding: 0 16px 0;
  }
}