.place__website {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition-property: opacity;
  transition-duration: .3s;
}

.place__website:hover {
  opacity: .8;
}